---
import { getCollection } from "astro:content";
import Container from "~/components/container.astro";
import Layout from "~/layouts/Layout.astro";

const blogPosts = await getCollection("blog", ({data}) => {
    return !data.draft && data.date < new Date();
    });
---

<Layout>
  <Container>
    <h1 class="gradient-text font-extrabold tracking-tight text-6xl">Blog</h1>
    {blogPosts.map((post) => (
        <a class="text-xl text-primary font-bold" href={`/blog/${post.slug}`}>{post.data.title}</a>
        <p class="text-sm">{post.data.date.toDateString()}</p>
        <p>{post.data.description}</p>
        ))}
  </Container>
</Layout>
