---
import { literal } from "astro/zod";
const { job } = Astro.props;
---

<div class="rounded-lg bg-offset shadow-lg">
  <div class="p-4">
    <div class="flex place-content-between items-start">
      <a href="#">
        <h5
          class="font-extralight tracking-tight text-primary text-lg"
        >
          {job.role}
        </h5>
      </a>
      <p
        class="shrink-0 inline-flex h-6 rounded-full bg-default shadow-lg px-2 text-center font-medium text-xs"
      >
        {job.startDate} - {job.endDate}
      </p>
    </div>
    <p class="text-sm font-bold">{job.company}</p>
    <ul class="list-disc mx-5 text-sm">{job.achievements.map((item: any) => <li class="p-1">{item}</li>)}</ul>
    
  </div>
</div>
