---
import Badge from "~/components/badge.astro";
import { Picture } from "@astrojs/image/components";
import munatsiImage from "~/assets/munatsi.png";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
const name = "Munatsi Ziumbe";
const location = "Barcelona, Spain";
const summary =
  "Passionate self-taught software engineer with experience as a software consultant and a diverse skill set developed over 6 years in corporate communication and enterprise risk management in the Coca-Cola System. Driven by curiosity and a love for building, I am eager to apply my expertise to software engineering projects.";
const contactDetails = [
  {
    name: "email",
    value: "munziu@gmail.com",
    icon: "email",
  },
  {
    name: "mobile",
    value: "+34 681 013 134",
    icon: "cellphone",
  },
  {
    name: "github",
    value: "github.com/munziu263",
    icon: "github",
  },
];
---

<section class="">
  <div
    class=""
  >
    <div class="mx-auto max-w-4xl">
      <Picture
        slot="eyebrow"
        class="h-32 rounded-full object-cover mb-4"
        src={munatsiImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="Munatsi's head shot floating in space"
      />
      <h1 class="font-extrabold text-4xl sm:text-6xl">
        munatsi
        <strong class="gradient-text font-extrabold"> ziumbe</strong>
      </h1>

      <h3 class=" font-bold text-accent md:self-center">
        {location}
      </h3>

      <p class="sm:text-xl/relaxed mt-4">
        {summary}
      </p>

      <div class="mt-4 flex flex-wrap gap-2">
        {
          contactDetails.map((contact) => (
            <Badge icon={contact.icon} text={contact.value} />
          ))
        }
      </div>
    </div>
  </div>
</section>
